body {background: url('img/bg.png') black no-repeat; color: white; font-family: Arial, Helvetica, sans-serif; text-align: justify;}
#wrapper {z-index:1; width: 75%; margin: 0 auto;}
#upper {width: 100%;}
#menu {width: 75%; margin: 0 auto;}
#transparent {border: transparent; padding: 12px; background-image: url('img/transparent.png');}
#logo {vertical-align: bottom; text-align: right;}
#logo img {height: auto; width: 100%; max-width: 564px;}
#footer {text-align: center; padding: 10px; font-size: x-small; color: gray;}
#backtotop {display: none; opacity: 0.8; position: fixed; bottom: 20px; right: 30px; z-index: 100; border: none; outline: none; background: url('img/bgbtt.png'); cursor: pointer; height: 46px; width: 46px; -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */ -moz-animation: fadein 2s; /* Firefox < 16 */ -ms-animation: fadein 2s; /* Internet Explorer */ -o-animation: fadein 2s; /* Opera < 12.1 */ animation: fadein 2s;}
@keyframes fadein {from {opacity: 0;} to {opacity: 0.8;}}
@-moz-keyframes fadein {from {opacity: 0;} to {opacity: 0.8;}}
@-webkit-keyframes fadein {from {opacity: 0;} to {opacity: 0.8;}}
@-ms-keyframes fadein {from {opacity: 0;} to {opacity: 0.8;}}
@-o-keyframes fadein {from {opacity: 0;} to {opacity: 0.8;}}
a {color: LightSeaGreen; text-decoration: none; font-weight: bold; transition:color 0.3s ease-in; -webkit-transition:color 0.3s ease-in; -moz-transition:color 0.3s ease-in; -o-transition:color 0.3s ease-in;}
a:hover {color: MediumTurquoise;}
a img {border: 0;}
h1 {font-size: 24px; margin: 0px; margin-bottom: 10px; padding-top: 10px; color: LightSeaGreen; border-bottom: 1px solid SlateGray; cursor: default;}
details {padding: 8px 8px 8px 16px;}
summary {font-weight: bold;}
.feats ul {list-style-image: url('img/tick.png');}
.feats li {padding: 4px; background: rgba(32, 178, 170, 0.3)}
.feats li:nth-child(odd) {background: rgba(0, 128, 128, 0.3)}

/* Language selector */
.select-style {width: 100px; border-radius: 20px; overflow: hidden; background: LightGray url("img/icon-select.png") no-repeat 90% 50%;}
.select-style select {padding: 4px 8px; width: 130%; background: transparent; border: transparent; background-image: none; -webkit-appearance: none;}
.select-style select:focus {color: DarkCyan;}

/* Audio Player */
.audioplayer {padding: 0 20px;}
.audioplayer, .audioplayer a, .audioplayer a:link, .audioplayer a:active, .audioplayer a:focus, .audioplayer a:visited {color: MediumTurquoise;}
.audioplayer a:hover {color: LightGreen;}
.audioplayer ul {list-style-image: url('img/microphone.png'); margin-left: -16px;}
.audioplayer p span.track-name {color: LightGreen; font-weight: bold;}
.audioplayerhl {background: url('img/bgpl.png') repeat-x left top rgba(0, 0, 0, 0.9); border: 1px solid black; padding: 0px 12px 12px 12px; width: 75%; margin: 0 auto;}

/* Videos */
.vwrapper {max-width: 75%;}
.vframe {background: rgba(0, 128, 128, 0.3); border: solid LightSeaGreen; border-width: 4px 0px 4px 0px;}
.videoplayer{overflow:hidden; padding-bottom:56.25%; position:relative; height:0;}
.videoplayer iframe{left:0; top:0; height:100%; width:100%; position:absolute;}

/* Contact form */
#contact {width: 60%; margin: 0 auto;}
#contact input, #contact textarea {padding: 2px; width: 100%; font-size: 1.2em; margin: 0px 0px 10px 0px; border: 2px solid gray;}
#contact textarea:focus, #contact input:focus {border: 2px solid LightSeaGreen;}
#contact textarea {resize: vertical;}
#contact button {padding: 8px 12px 8px 12px; border: 0; color: white; background: LightSeaGreen;}

/* Pop */
@-webkit-keyframes hvr-pop {50% {-webkit-transform: scale(1.2); transform: scale(1.2);}}
@keyframes hvr-pop {50% {-webkit-transform: scale(1.2); transform: scale(1.2);}}
.hvr-pop {display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent;}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {-webkit-animation-name: hvr-pop; animation-name: hvr-pop; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: 1; animation-iteration-count: 1;}

/* Sweep To Right */
.content li {list-style-type: lower-greek; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative;   -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.content li:before {content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: black; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0 50%; transform-origin: 0 50%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.content li:hover, .content li:focus, .content li:active {color: white;}
.content li:hover:before, .content li:focus:before, .content li:active:before {-webkit-transform: scaleX(1); transform: scaleX(1);}